:root {
	// COLORS
	// PRIMARY COLORS

	--red: hsl(0, 78%, 62%); // #EA5454
	--cyan: hsl(180, 62%, 55%); // #44D3D2
	--orange: hsl(34, 97%, 64%); // #FCAE4A
	--blue: hsl(212, 86%, 64%); // #549EF2

	// NEUTRAL COLORS

	--very-dark-blue: hsl(234, 12%, 34%); // #4D4F62
	// --gray-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%); // #FAFAFA

	// FONTS

	--poppins: "Poppins", sans-serif;
}
